<a href="https://colab.research.google.com/github/holdenkim/YG/blob/main/YG_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2주차 실기 유형 1 첫번째

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")

시력(좌) 와 시력(우)의 값이 같은 남성의 허리둘레의 평균은?

In [3]:
data.head(3)

  성별코드  연령대코드(5세단위)  신장(5Cm단위)  체중(5Kg단위)  ...  흡연상태  구강검진수검여부  치아우식증유무  치석
0    F           55        145         55  ...     0         Y      0.0   Y
1    M           40        180         55  ...     1         Y      0.0   Y
2    F           55        150         50  ...     0         Y      0.0   N

[3 rows x 26 columns]

In [12]:
data[(data['시력(좌)'] == data['시력(우)']) & (data['성별코드'] == 'M')]['허리둘레'].mean()

84.97682662817974