<a href="https://colab.research.google.com/github/holdenkim/YG/blob/main/YG_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2주차 실기 유형 1 첫번째

In [13]:
import pandas as pd

In [39]:
data = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")

시력(좌) 와 시력(우)의 값이 같은 남성의 허리둘레의 평균은?

In [15]:
data.head(3)

  성별코드  연령대코드(5세단위)  신장(5Cm단위)  체중(5Kg단위)  ...  흡연상태  구강검진수검여부  치아우식증유무  치석
0    F           55        145         55  ...     0         Y      0.0   Y
1    M           40        180         55  ...     1         Y      0.0   Y
2    F           55        150         50  ...     0         Y      0.0   N

[3 rows x 26 columns]

In [16]:
data[(data['시력(좌)'] == data['시력(우)']) & (data['성별코드'] == 'M')]['허리둘레'].mean()

84.97682662817974

2. 40대(연령대코드 40,45) 여성 중 '총콜레스테롤'값이 40대 여성의 '총콜레스테롤' 

중간값 이상을  가지는 그룹과

50대(연령대코드 50,55) 여성 중 '총콜레스테롤'값이 50대 여성의 '총콜레스테롤' 중간값 이상을 가지는 두 그룹의 '수축기혈압'이 독립성,정규성,등분산성이 만족하는것을 확인했다. 

두 그룹의 '수축기혈압'의 독립표본 t 검증 결과를 통계값, p-value 구분지어 구하여라.

In [36]:
data['연령대코드(5세단위)']

0        55
1        40
2        55
3        40
4        40
         ..
44548    60
44549    40
44550    60
44551    40
44552    40
Name: 연령대코드(5세단위), Length: 44553, dtype: int64

In [61]:
Female_40 = data[data['연령대코드(5세단위)'].isin([40,45])& (data['성별코드'] == 'F') ]
Female_50 = data[data['연령대코드(5세단위)'].isin([50,55])& (data['성별코드'] == 'F') ]

In [62]:
Female_40_coleTotal = Female_40[Female_40['총콜레스테롤'] >= Female_40['총콜레스테롤'].median()]['수축기혈압']
Female_50_coleTotal = Female_50[Female_50['총콜레스테롤'] >= Female_50['총콜레스테롤'].median()]['수축기혈압']

In [64]:
import scipy.stats
scipy.stats.ttest_ind(Female_50_coleTotal, Female_40_coleTotal, equal_var=True)

Ttest_indResult(statistic=8.954384087520708, pvalue=4.399762427897212e-19)

#2주차 실기 유형 1 두번째

수축기혈압과 이완기 혈압기 수치의 차이를 새로운 컬럼('혈압차')로 생성하고 연령대 코드별 각 그룹중 혈압차 분산이 5번째로 큰 연령대 코드를 구하여라

In [65]:
import pandas as pd

In [66]:
data = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")

In [67]:
data.head(2)

  성별코드  연령대코드(5세단위)  신장(5Cm단위)  체중(5Kg단위)  ...  흡연상태  구강검진수검여부  치아우식증유무  치석
0    F           55        145         55  ...     0         Y      0.0   Y
1    M           40        180         55  ...     1         Y      0.0   Y

[2 rows x 26 columns]

In [68]:
data['혈압차'] = data['수축기혈압'] - data['이완기혈압']

In [69]:
data.head(2)

  성별코드  연령대코드(5세단위)  신장(5Cm단위)  체중(5Kg단위)  ...  구강검진수검여부  치아우식증유무  치석   혈압차
0    F           55        145         55  ...         Y      0.0   Y  45.0
1    M           40        180         55  ...         Y      0.0   Y  32.0

[2 rows x 27 columns]

In [73]:
data.groupby('연령대코드(5세단위)')['혈압차'].var().sort_values(ascending=False)

연령대코드(5세단위)
80    154.537248
70    115.999711
75    115.471623
65     99.635384
60     94.386922
85     86.263736
55     79.294182
45     71.445083
50     71.207529
25     68.794878
40     67.285468
20     66.555720
30     61.990014
35     60.757553
Name: 혈압차, dtype: float64

In [76]:
data.groupby('연령대코드(5세단위)')['혈압차'].var().sort_values(ascending=False)[4:5]

연령대코드(5세단위)
60    94.386922
Name: 혈압차, dtype: float64

WHtR 은 허리둘레/키 로 표현한다. 0.58 이상이면 비만으로 분류 한다. 비만인 남여 비율을 구하여라