<a href="https://colab.research.google.com/github/holdenkim/YG/blob/main/YG_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2주차 실기 유형 1 첫번째

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")

시력(좌) 와 시력(우)의 값이 같은 남성의 허리둘레의 평균은?

In [ ]:
data.head(3)

  성별코드  연령대코드(5세단위)  신장(5Cm단위)  체중(5Kg단위)  ...  흡연상태  구강검진수검여부  치아우식증유무  치석
0    F           55        145         55  ...     0         Y      0.0   Y
1    M           40        180         55  ...     1         Y      0.0   Y
2    F           55        150         50  ...     0         Y      0.0   N

[3 rows x 26 columns]

In [ ]:
data[(data['시력(좌)'] == data['시력(우)']) & (data['성별코드'] == 'M')]['허리둘레'].mean()

84.97682662817974

2. 40대(연령대코드 40,45) 여성 중 '총콜레스테롤'값이 40대 여성의 '총콜레스테롤' 

중간값 이상을  가지는 그룹과

50대(연령대코드 50,55) 여성 중 '총콜레스테롤'값이 50대 여성의 '총콜레스테롤' 중간값 이상을 가지는 두 그룹의 '수축기혈압'이 독립성,정규성,등분산성이 만족하는것을 확인했다. 

두 그룹의 '수축기혈압'의 독립표본 t 검증 결과를 통계값, p-value 구분지어 구하여라.

In [ ]:
data['연령대코드(5세단위)']

0        55
1        40
2        55
3        40
4        40
         ..
44548    60
44549    40
44550    60
44551    40
44552    40
Name: 연령대코드(5세단위), Length: 44553, dtype: int64

In [ ]:
Female_40 = data[data['연령대코드(5세단위)'].isin([40,45])& (data['성별코드'] == 'F') ]
Female_50 = data[data['연령대코드(5세단위)'].isin([50,55])& (data['성별코드'] == 'F') ]

In [ ]:
Female_40_coleTotal = Female_40[Female_40['총콜레스테롤'] >= Female_40['총콜레스테롤'].median()]['수축기혈압']
Female_50_coleTotal = Female_50[Female_50['총콜레스테롤'] >= Female_50['총콜레스테롤'].median()]['수축기혈압']

In [ ]:
import scipy.stats
scipy.stats.ttest_ind(Female_50_coleTotal, Female_40_coleTotal, equal_var=True)

Ttest_indResult(statistic=8.954384087520708, pvalue=4.399762427897212e-19)

#2주차 실기 유형 1 두번째

수축기혈압과 이완기 혈압기 수치의 차이를 새로운 컬럼('혈압차')로 생성하고 연령대 코드별 각 그룹중 혈압차 분산이 5번째로 큰 연령대 코드를 구하여라

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")

In [ ]:
data.head(2)

  성별코드  연령대코드(5세단위)  신장(5Cm단위)  체중(5Kg단위)  ...  흡연상태  구강검진수검여부  치아우식증유무  치석
0    F           55        145         55  ...     0         Y      0.0   Y
1    M           40        180         55  ...     1         Y      0.0   Y

[2 rows x 26 columns]

In [ ]:
data['혈압차'] = data['수축기혈압'] - data['이완기혈압']

In [ ]:
data.head(2)

  성별코드  연령대코드(5세단위)  신장(5Cm단위)  체중(5Kg단위)  ...  구강검진수검여부  치아우식증유무  치석   혈압차
0    F           55        145         55  ...         Y      0.0   Y  45.0
1    M           40        180         55  ...         Y      0.0   Y  32.0

[2 rows x 27 columns]

In [ ]:
data.groupby('연령대코드(5세단위)')['혈압차'].var().sort_values(ascending=False)

연령대코드(5세단위)
80    154.537248
70    115.999711
75    115.471623
65     99.635384
60     94.386922
85     86.263736
55     79.294182
45     71.445083
50     71.207529
25     68.794878
40     67.285468
20     66.555720
30     61.990014
35     60.757553
Name: 혈압차, dtype: float64

In [ ]:
data.groupby('연령대코드(5세단위)')['혈압차'].var().sort_values(ascending=False)[4:5]

연령대코드(5세단위)
60    94.386922
Name: 혈압차, dtype: float64

WHtR 은 허리둘레/키 로 표현한다. 0.58 이상이면 비만으로 분류 한다. 비만인 남여 비율을 구하여라

In [ ]:
data['WHtR'] = data['허리둘레'] / data['신장(5Cm단위)']

In [ ]:
data[['WHtR']].head(2)

       WHtR
0  0.503448
1  0.411111

In [ ]:
ob = data[data['WHtR'] >= 0.58]

In [ ]:
ob.head(2)

   성별코드  연령대코드(5세단위)  신장(5Cm단위)  체중(5Kg단위)  ...  치아우식증유무  치석   혈압차      WHtR
9     M           35        165         85  ...      0.0   Y  46.0  0.608485
23    F           45        160         80  ...      0.0   Y  60.0  0.631250

[2 rows x 28 columns]

In [ ]:
ob.groupby('성별코드').count()

      연령대코드(5세단위)  신장(5Cm단위)  체중(5Kg단위)  허리둘레  ...  치아우식증유무    치석   혈압차  WHtR
성별코드                                           ...
F            1470       1470       1470  1470  ...     1470  1470  1470  1470
M            1719       1719       1719  1719  ...     1719  1719  1719  1719

[2 rows x 27 columns]

In [ ]:
FA = ob.groupby('성별코드').count().loc['F', '연령대코드(5세단위)']

In [ ]:
MA = ob.groupby('성별코드').count().loc['M', '연령대코드(5세단위)']

In [ ]:
answer = MA/FA

In [ ]:
print(answer)

1.1693877551020408

In [ ]:
#데이터 설명 : 2018년도 성인의 건강검진 데이터로부터 흡연상태 예측 (흡연상태 1- 흡연, 0-비흡연 )
#문제타입 : 분류유형
#평가지표 : f1-score
#trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv
#testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/test.csv
#subData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/submission.csv

#2주차 실기 유형2 첫번째

In [ ]:
trainData_url = "https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv"

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv(trainData_url)

In [ ]:
data.head(2)

  성별코드  연령대코드(5세단위)  신장(5Cm단위)  체중(5Kg단위)  ...  흡연상태  구강검진수검여부  치아우식증유무  치석
0    F           55        145         55  ...     0         Y      0.0   Y
1    M           40        180         55  ...     1         Y      0.0   Y

[2 rows x 26 columns]

In [ ]:
#구강검진수검여부, 치석

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44553 entries, 0 to 44552
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   성별코드         44553 non-null  object
 1   연령대코드(5세단위)  44553 non-null  int64
 2   신장(5Cm단위)    44553 non-null  int64
 3   체중(5Kg단위)    44553 non-null  int64
 4   허리둘레         44553 non-null  float64
 5   시력(좌)        44553 non-null  float64
 6   시력(우)        44553 non-null  float64
 7   청력(좌)        44553 non-null  float64
 8   청력(우)        44553 non-null  float64
 9   수축기혈압        44553 non-null  float64
 10  이완기혈압        44553 non-null  float64
 11  식전혈당(공복혈당)   44553 non-null  float64
 12  총콜레스테롤       44553 non-null  float64
 13  트리글리세라이드     44553 non-null  float64
 14  HDL콜레스테롤     44553 non-null  float64
 15  LDL콜레스테롤     44553 non-null  float64
 16  혈색소          44553 non-null  float64
 17  요단백          44553 non-null  float64
 18  혈청크레아티닌      44553 non-null  float64
 19  (혈청지오티)AST   44553 non-null  float64
 20  (혈청지오티)ALT   44553 non-null  float64
 21  감마지티피        44553 non-null  float64
 22  흡연상태         44553 non-null  int64
 23  구강검진수검여부     44553 non-null  object
 24  치아우식증유무      44553 non-null  float64
 25  치석           44553 non-null  object
dtypes: float64(19), int64(4), object(3)
memory usage: 8.8+ MB

In [ ]:
data.describe()

        연령대코드(5세단위)     신장(5Cm단위)  ...          흡연상태       치아우식증유무
count  44553.000000  44553.000000  ...  44553.000000  44553.000000
mean      44.210603    164.657038  ...      0.367024      0.213521
std       12.089077      9.198571  ...      0.481998      0.409797
min       20.000000    130.000000  ...      0.000000      0.000000
25%       40.000000    160.000000  ...      0.000000      0.000000
50%       40.000000    165.000000  ...      0.000000      0.000000
75%       55.000000    170.000000  ...      1.000000      0.000000
max       85.000000    190.000000  ...      1.000000      1.000000

[8 rows x 23 columns]

In [ ]:
#구강검진수검여부, 치석, data["지점"].replace("강남구","강남")

In [ ]:
X = data.drop("흡연상태", axis=1)

In [ ]:
y = data["흡연상태"]

In [ ]:
X.head(1)

  성별코드  연령대코드(5세단위)  신장(5Cm단위)  체중(5Kg단위)  ...  감마지티피  구강검진수검여부  치아우식증유무  치석
0    F           55        145         55  ...   15.0         Y      0.0   Y

[1 rows x 25 columns]

In [ ]:
X['성별코드'].replace('F','0', inplace=True)
X['성별코드'].replace('M','1', inplace=True)
X['구강검진수검여부'].replace('Y','0', inplace=True)
X['구강검진수검여부'].replace('N','1', inplace=True)
X['치석'].replace('Y','0', inplace=True)
X['치석'].replace('N','1', inplace=True)

In [ ]:
X.head(1)

  성별코드  연령대코드(5세단위)  신장(5Cm단위)  체중(5Kg단위)  ...  감마지티피  구강검진수검여부  치아우식증유무  치석
0    0           55        145         55  ...   15.0         0      0.0   0

[1 rows x 25 columns]

In [ ]:
y.head(1)

0    0
Name: 흡연상태, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42, stratify=y)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
mms = MinMaxScaler()

In [ ]:
mms.fit(X_train)

MinMaxScaler()

In [ ]:
X_train_scaled = mms.transform(X_train)
X_test_scaled = mms.transform(X_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model = RandomForestClassifier(random_state=42)

In [ ]:
model.fit(X_train_scaled, y_train)

RandomForestClassifier(random_state=42)

In [ ]:
pred_train = model.predict(X_train_scaled)
pred_test = model.predict(X_test_scaled)

In [ ]:
from sklearn.metrics import f1_score

In [ ]:
f1s_train = f1_score(y_train, pred_train)
f1s_test = f1_score(y_test, pred_test)

In [ ]:
print(f1s_train)
print(f1s_test)

0.9999592286052106
0.6809421841541756

#2주차 실기 유형2 두번째

In [ ]:
'''
데이터 설명 : 자동차 보험 가입 예측
문제타입 : 분류유형
평가지표 : f1-score
trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv
testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/test.csv
subData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/submission.csv
[출처] 2주차 예상문제 2 (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 조교
'''

'\n데이터 설명 : 자동차 보험 가입 예측\n문제타입 : 분류유형\n평가지표 : f1-score\ntrainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv\ntestData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/test.csv\nsubData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/submission.csv\n[출처] 2주차 예상문제 2 (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 조교\n'

In [1]:
import pandas as pd

In [28]:
train_Data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv')
test_Data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/test.csv')
sub_Data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/submission.csv')

In [29]:
train_Data.head(2)

       id  Gender  Age  ...  Policy_Sales_Channel  Vintage  Response
0  188957  Female   25  ...                 152.0       59         0
1  275631    Male   20  ...                 160.0      113         0

[2 rows x 12 columns]

In [30]:
X_temp = train_Data[train_Data.columns[1:11]]

In [31]:
y= train_Data[['Response']]

In [32]:
X = pd.get_dummies(X_temp)

In [33]:
X.head(2)

   Age  Driving_License  ...  Vehicle_Damage_No  Vehicle_Damage_Yes
0   25                1  ...                  1                   0
1   20                1  ...                  1                   0

[2 rows x 14 columns]

In [34]:
from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

In [45]:
from sklearn.preprocessing import MinMaxScaler

In [46]:
mms = MinMaxScaler()

In [47]:
mms.fit(X_train)

MinMaxScaler()

In [48]:
X_train_scaled = mms.transform(X_train)
X_test_scaled = mms.transform(X_test)

In [49]:
from sklearn.ensemble import RandomForestClassifier

In [50]:
model = RandomForestClassifier(random_state=42)

In [51]:
y_train.shape

(228665, 1)

In [52]:
X_train_scaled.shape

(228665, 14)

In [53]:
model.fit(X_train_scaled, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(random_state=42)

In [54]:
pred_train = model.predict(X_train_scaled)
pred_test = model.predict(X_test_scaled)

In [55]:
from sklearn.metrics import f1_score

In [59]:
f1_train= f1_score(y_train, pred_train)
f1_test= f1_score(y_test, pred_test)

In [60]:
print(f1_train)

0.9996609504095362

In [61]:
print(f1_test)

0.18243080625752106